*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

}

header {
    background-color:#3347B0;
}

.cabecalho {
    display: flex;

}

.logo {
    margin: 1% 7%;
}

.sair {
    display: flex;
    position: absolute;
    height: 40px;
    margin: 2% ;
    left: 90%;
}